<body>

<!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg bg-white sticky-top">
     <div class="container">
       <p class="logo">Alloq-@</p>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto">
           <li class="nav-item">
             <a class="nav-link" aria-current="page" href="#hero">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" aria-current="page" href="#about">About</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" aria-current="page" href="#services">Services</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" aria-current="page" href="#contact">Contact Us</a>
           </li>
           <li class="nav-item">
             <a href="https://web.facebook.com/nimbusventurepage/"><i class="ri-facebook-fill social-icons"></i></a>
             <a href="https://nimbusventure.com/"><i class="ri-window-fill social-icons"></i></a>
             <a href="https://lk.linkedin.com/company/nimbus-venture-pvt-ltd-"><i class="ri-linkedin-fill social-icons"></i></a>
           </li>
         </ul>
       </div>
     </div>
   </nav>

<!-- HOME SECTION -->
   <section id="hero" class="min-vh-100 d-flex align-items-center text-center"  style="background-image:url(assets/img/image1.jpg); background-size: cover; ">
     <div class="container">
       <div class="row">
         <div class="col-12 box">
           <h1 class="text-white fw-semibold display-1" style="font-family:Quicksand;">Welcome to Alloq-@</h1>
           <h5 class="text-white mt-3 mb-4">Book your meeting room today!</h5>
           <div>
             <a  class="btn btn-brand" [routerLink]="['/login']">Login</a>
           </div>
         </div>
       </div>
     </div>
   </section>

<!-- ABOUT SECTION -->
   <section id="about" class="section-padding">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <div class="section-title">
             <h1 class="display-4 fw-semibold" style="color: black;font-family:Quicksand;">About Us</h1>
             <div class="line"></div>
             <p>Meeting room booking system that allows resource managers and employees to book meeting rooms and track their use</p>
           </div>
         </div>
       </div>
       <div class="row justify-content-center align-items-center about">
         <div class="col-lg-6">
           <img src="assets/img/image2.jpg" >
         </div>
         <div class="col-lg-5 ">
           <p class="mt-4 mb-8" style="text-align: justify;">Welcome to Alloq-@, an innovative meeting room reservation and cost allocation system that streamlines the process of booking meeting rooms and allocating
          costs. Our automated system eliminates the need for manual processes and reduces the risk of errors, allowing for a more efficient and cost-effective
          approach to managing meeting rooms. With Alloq-@, you can easily book meeting rooms, manage your schedule, and allocate costs based on usage. Our
          user-friendly interface and advanced features make it easy to use and customize to your specific needs. Whether you're a small business or a large
          corporation, Alloq-@ can help you save time and money while improving your meeting room management process.</p>
         </div>
       </div>
     </div>
   </section>

<!-- SERVICES SECTION -->
   <section id="services" class="section-padding border-top">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <div class="section-title">
             <h1 class="display-4 fw-semibold" style="color: black;font-family:Quicksand;">Awesome Services</h1>
             <div class="line"></div>
             <p>The best meeting and conference room booking system with a number of unique functions for effective meeting management and optimization of company</p>
           </div>
         </div>
       </div>

       <div class="row g-4 text-center">

         <!--service cards-->
         <div class="col-lg-4 col-sm-6">
           <div class="service theme-shadow p-lg-5 p-4">
             <div class="iconbox">
               <i class="ri-stack-fill"></i>
             </div>
             <h5 class="mt-4 mb-3">Smart</h5>
             <p>Alloq@ is a meeting room reservation system that leverages advanced technologies to provide a more intelligent
               and efficient way to manage meeting room bookings.It also provides real-time insights and analytics, allowing
               organizations to track usage patterns and identify opportunities for optimization. </p>
           </div>
         </div>

         <div class="col-lg-4 col-sm-6">
           <div class="service theme-shadow p-lg-5 p-4">
             <div class="iconbox">
               <i class="ri-stack-fill"></i>
             </div>
             <h5 class="mt-4 mb-3">Simple</h5>
             <p>Simplifies the process of reserving a meeting room. Users can quickly and easily reserve a meeting room through
               the system's intuitive interface, without the need for complex configurations or extensive training. The system
               offers basic features such as room availability, booking confirmation, and calendar integrations</p>
           </div>
         </div>

         <div class="col-lg-4 col-sm-6">
           <div class="service theme-shadow p-lg-5 p-4">
             <div class="iconbox">
               <i class="ri-stack-fill"></i>
             </div>
             <h5 class="mt-4 mb-3">Reliable</h5>
             <p>Alloq@ is a meeting room reservation system that prioritizes stability, dependability, and uptime.It also offers
               features such as automated alerts and notifications, user access controls, and advanced security protocols,
               to ensure that meetings are booked and managed in a secure and reliable manner. </p>
           </div>
         </div>

         <div class="col-lg-4 col-sm-6">
           <div class="service theme-shadow p-lg-5 p-4">
             <div class="iconbox">
               <i class="ri-stack-fill"></i>
             </div>
             <h5 class="mt-4 mb-3">Book Meeting Rooms</h5>
             <p>Alloq-@ meeting room reservation system enables users to<br> quickly and easily reserve meeting rooms for their
               upcoming meetings. This service simplifies the meeting room booking process, making it easier for users to
               find available rooms, reserve the room that best meets their needs, and manage their bookings.</p>
           </div>
         </div>

         <div class="col-lg-4 col-sm-6">
           <div class="service theme-shadow p-lg-5 p-4">
             <div class="iconbox">
               <i class="ri-stack-fill"></i>
             </div>
             <h5 class="mt-4 mb-3">Automatic Cost Allocation</h5>
             <p>Automatically calculates and allocates the cost of a meeting room reservation to the relevant cost centers or
               departments within an organization. This service eliminates the need for manual calculations and helps organizations
               track. With automatic cost allocation, organizations can easily monitor and optimize their meeting room usage
               and budget allocation.</p>
           </div>
         </div>

         <div class="col-lg-4 col-sm-6">
           <div class="service theme-shadow p-lg-5 p-4">
             <div class="iconbox">
               <i class="ri-stack-fill"></i>
             </div>
             <h5 class="mt-4 mb-3">Generate Report</h5>
             <p>Alloq-@ meeting room reservation system allows users to generate reports<br> that provide insights into the usage
               of meeting rooms. The reports can be generated for the entire company or for individual departments, providing
               an overview of the number of meetings held, the duration of each meeting, and the rooms that were used.</p>
           </div>
         </div>

       </div>
     </div>
   </section>

<!--CONTACT US SECTION-->
   <section id="contact" class="section-padding form">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <div class="section-title">
             <h1 class="display-4 text-white fw-semibold" style="font-family:Quicksand;">Get in touch</h1>
             <div class="line bg-white"></div>
             <p class="text-white">We will help you! Fill the form for multiple answers!</p>
           </div>
         </div>
       </div>

       <div class="row justify-content-center form1">
         <div class="col-lg-8">
           <form (submit)="sendEmail($event)" #contactForm="ngForm" class="row g-3">
             <div class="form-group col-lg-6">
               <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" name="firstName" required>
             </div>
             <div class="form-group col-lg-6">
               <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" name="lastName" required >
             </div>
             <div class="form-group col-lg-12">
               <input type="email" class="form-control" id="email" placeholder="Enter email address" name="email" required >
             </div>
             <div class="form-group col-lg-12">
               <input type="text" class="form-control" id="subject" placeholder="Enter subject" name="subject" required >
             </div>
             <div class="form-group col-lg-12">
               <textarea name="message" rows="5" class="form-control" id="message" placeholder="Enter message" name="message" required ></textarea>
             </div>
             <div class="form-group col-lg-12 d-grid">
               <button type="submit" class="btn btn-brand">Send Message</button>
             </div>
           </form>

      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
   <section class="section-padding text-dark footer">
     <div class="footer-top">
       <div class="container">
         <div class="row gy-5 footer-text">
           <div class="col-lg-3 col-sm-6">
             <a href="#" style="font-family:Quicksand;"><h5 class="text-white">Alloq-@</h5></a>
             <p>Meeting room booking system that allows resource managers and employees to book meeting rooms and track their use</p>
           </div>

           <div class="col-lg-3 col-sm-6">
             <h5 class="mb-0 text-white" style="font-family:Quicksand;">Services</h5>
             <ul>
               <li>Smart</li>
               <li>Simple</li>
               <li>Reliable</li>
               <li>Book meeting rooms</li>
               <li>Automatic cost allocation</li>
               <li>Generate report</li>
             </ul>
           </div>

           <div class="col-lg-3 col-sm-6">
             <h5 class="mb-0 text-white" style="font-family:Quicksand;">Sections</h5>
             <ul>
               <li>Home</li>
               <li>About</li>
               <li>Services</li>
               <li>Contact Us</li>
             </ul>
           </div>

           <div class="col-lg-3 col-sm-6">
             <h5 class="mb-0 text-white" style="font-family:Quicksand;">Contact</h5>
             <p>No-7,<br>8th Lane,<br>Nawala Road,<br>Nawala,<br>Sri Lanka</p>
           </div>
         </div>
       </div>
     </div>

     <div class="footer-bottom">
       <div class="container">
         <div class="row justify-content-between">
           <div class="col-auto">
             <p class="mb-0">&copy;Copyright Alloq-@. All Right Reserved</p>
           </div>
           <div class="col-auto">
             <p class="mb-0">Designed By Majento</p>
           </div>
         </div>
       </div>
     </div>
   </section>

</body>

















